<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div th:fragment="menu">
        <span>
            <button class="btn btn-primary" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
                <a th:href="@{/dashboard/index}" style="text-decoration: none;">Dashboard</a>
            </button>
            <button class="btn btn-primary" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
                <a th:href="@{/user/index}" style="text-decoration: none;">Users</a>
            </button>
            <button class="btn btn-primary" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
                <a th:href="@{/employment/index}" style="text-decoration: none;">Employment</a>
            </button>
            <button th:if="${authUser.employment.position.name == 'President'}" class="btn btn-primary" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
                <a th:href="@{/level/index}" style="text-decoration: none;">Level</a>
            </button>
            <button th:if="${authUser.employment.position.name == 'President'}" class="btn btn-primary" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
                <a th:href="@{/position/index}" style="text-decoration: none;">Position</a>
            </button>
            <button class="btn btn-primary" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">
                <a th:href="@{/user/account}" style="text-decoration: none;">Account</a>
            </button>
        </span>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <h1 style="text-align: center;" th:text="'Welcome, ' + ${authUser.firstName} + ' ' + ${authUser.lastName} + ' - ' + ${authUser.employment.level.name} + ' ' + ${authUser.employment.position.name}"></h1>
    </div>
</body>
</html>